/app/config/parameters.yml
/var/cache/*
!/var/cache/.gitkeep
/var/bootstrap.php.cache
/var/isg.db
/var/logs/*
!/var/logs/.gitkeep
/web/bundles/
/web/js/
/web/css/
/web/vendor/
/web/app
/build/
/vendor/
/bin/*
!/bin/console
!/bin/symfony_requirements
/composer.phar
/bower_components/
/node_modules/
/.idea/
/atlassian-ide-plugin.xml
