<div class="row">
    <h2 class="col-sm-12">username</h2>
</div>


<div class="divider-brown-line row">
    <div class="user-picture col-xs-4 col-xs-offset-0 col-sm-2 col-sm-offset-5">
        <img src="/img/prof.jpg" width="100" height="100">
    </div>
    <div class="col-xs-8 col-sm-5">click on the photos to download </div>

</div>

<div class="main_wrap prof_wrap">
    <a class="dd_all" href="#">DOWNLOAD ALL MY PHOTOS</a>
    <div class="ph_gallery">
        <div class="gallery_row">
            <a href="#"><img src="/img/1.jpg" width="150px" height="150px"></a>
            <a href="#"><img src="/img/2.jpg" width="150px" height="150px"></a>
            <a href="#"><img src="/img/3.jpg" width="150px" height="150px"></a>
            <a href="#"><img src="/img/4.jpg" width="150px" height="150px"></a>
            <a href="#"><img class="last" src="/img/5.jpg" width="150px" height="150px"></a>
        </div>
        <div class="gallery_row">
            <a href="#"><img src="/img/1.jpg" width="150px" height="150px"></a>
            <a href="#"><img src="/img/2.jpg" width="150px" height="150px"></a>
            <a href="#"><img src="/img/3.jpg" width="150px" height="150px"></a>
            <a href="#"><img src="/img/4.jpg" width="150px" height="150px"></a>
            <a href="#"><img src="/img/5.jpg" width="150px" height="150px"></a>
        </div>
        <div class="gallery_row">
            <a href="#"><img src="/img/1.jpg" width="150px" height="150px"></a>
            <a href="#"><img src="/img/2.jpg" width="150px" height="150px"></a>
            <a href="#"><img src="/img/3.jpg" width="150px" height="150px"></a>
            <a href="#"><img src="/img/4.jpg" width="150px" height="150px"></a>
            <a href="#"><img src="/img/5.jpg" width="150px" height="150px"></a>
        </div>
    </div>
    <a href="#" class="button but_prof">Download Selected</a>



    <div class="bot_line">
        <a href="#" class="button but_bot">LOAD MORE PHOTOS</a>
    </div>
</div>

<div class="pre_footer">
    <div class="img_count">23 342 images were downloaded by the ID.</div>
    <div class="social">
        <div class="soc_txt">Tell your friends about us</div>
        <div class="icon_wrap">
            <a href="#"><img src="/img/twitter1.png" width="50px" height="50px"></a>
            <a href="#"><img src="/img/fb1.png" width="50px" height="50px"></a>
            <a href="#"><img src="/img/pin1.png" width="50px" height="50px"></a>
            <a href="#"><img src="/img/gp1.png" width="50px" height="50px"></a>
        </div>
    </div>
</div>




<h1>profile</h1>

<a href="#" class="download-all">Download All</a>

<div class="media-view"></div>

<a href="#" rel="next">Load more</a>
