@import "../variables";

.contact {

  form {
    display: block;
    margin: 0 auto 20px auto;
    width: 50%;

    label {
      display: block;
      margin-bottom: 15px;

      span {
        display: block;
        margin-bottom: 5px;
      }

      input, textarea {
        width: 100%;
      }

      textarea {
        min-height: 100px;
      }
    }
  }

  .button-send-wrap {
    text-align: right;
  }

  .btn-lg {
    font-size: 20px;
    padding: 10px 20px;
    border: none;
  }

}