@import "../variables";

.homepage {

  .content-wrap {
    font-weight: 100;
  }

  .get-started-text {
    color: #fff;
    font-size: 40px;
    margin: 0 auto;
    padding: 40px 0 30px;
    text-align: center;
  }

  .get-started-btn {
    color: $color-brown;
    text-align: center;
  }

  .get-started-note {
    color: $color-brown;
    font-weight: normal;
    font-size: 16px;
    font-style: italic;
    line-height: 100%;
    margin-top: 20px;
    margin-left: 39%;
    padding-top: 20px;
    width: 405px;
  }

  .random-photos {
    @include clearfix();

    .photo {

      display: block;
      float:left;
      margin: 2.5%;
      opacity: 0.7;
      position: relative;
      text-align: center;
      width: 20%;

      transition: opacity 0.2s ease-in-out;

      img {
        display: block;
        width: 100%;
      }

      span {
        display: none;
        position: absolute;
        text-align: center;
        width: 100%;
        top: 40%;


      }

      &:hover {
        opacity: 1;
        filter: alpha(opacity=100);

        span {
          display: block;
          color: white;
          background: $color-brown;
          opacity: 0.8;
//          filter: alpha(opacity=80);
        }
      }
    }
  }

  .img-count {
    font-size: 120%;
    margin-top: 20px;
  }



}

@media (max-width: 768px) and (orientation: portrait) {
  .homepage .get-started-note {
    width: 100%;
    margin-left: 0%;
    padding: 20px;
  }
}