@import "variables";
@import "fonts";
@import "reset";
@import "global";

@import "partials/logo";
@import "partials/content";
@import "partials/menu";
@import "partials/social";

@import "pages/homepage";
@import "pages/faq";
@import "pages/profile";

.max-width {
  max-width: $max-width;
}

.divider-brown-line {
  background: $color-brown;
  color: white;
  height: 30px;
}
/*
.media-view-wrap {
  text-align: center;
  .download-all {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
*/
.footer {
  margin-top: 30px;
  background: $color-brown;
  padding: 6px 0;

  .footer-text {

    color: white;
    max-width: $max-width;
    margin: 0 auto;
    font-size: 12px;
    text-align: right;
    text-decoration: none;

    a {
      color: white;

      &:hover {
        color: #d5ecb6;
      }
    }

  }

  .footer-credits {
    text-align: right;
    a {
      color: blanchedalmond;
      text-decoration: none;
    }
  }
}




//@media (min-width: 768px) {
//  .profile {
//    h2 {
//      float: left;
//      margin-left: 3%;
//      font-size: 60px;
//    }
//    .divider-brown-line {
//      margin-top: 0px;
//    }
//  }
//}

#payload {
  visibility: hidden;
  height: 1px;
  overflow: hidden;
}

//@import "../vendor/bower_components/bootstrap-sass/lib/modals";
//@import "../vendor/bower_components/bootstrap-sass/lib/progress-bars";
//@import "../vendor/bower_components/bootstrap-sass/lib/dropdowns";

