{% trans_default_domain "app_contact" %}
{% extends 'App::layout.html.twig' %}

{% block payload %}
    <div class="contact has-content clearfix">
        {% include "App:Public:_logo.html.twig" %}

        <div class="content-bg">
            <div class="content-wrap">
                <h1>{% trans %}Thank you{% endtrans %}</h1>

                <p>
                    {% trans %}Your feedback is very valuable for us, we will process this request and reply to you soon.{% endtrans %}
                </p>

            </div>
        </div>
        <div class="content-after">
            <h3>{% trans %}Experiencing an issue?{% endtrans %}</h3>

            <p>{% trans %}It's better to create an issue on our <a href="https://github.com/naumovs/instasavegram/issues">github</a> page.{% endtrans %}</p>
        </div>
    </div>

{% endblock %}