{% trans_default_domain "app_faq" %}
<div class="faq has-content clearfix">
    {% include "App:Public:_logo.html.twig" %}

    <div class="content-bg">
        <div class="content-wrap">
            <h1>{% trans %}FREQUENTLY ASKED QUESTIONS{% endtrans %}</h1>

            <details>
                <summary class="h4">{% trans %}How do I sign-in with a different Account?{% endtrans %}</summary>
                <p>{% trans %}It is really easy as 2 simple steps to login with a different account:{% endtrans %}</p>
                <ol>
                    <li>{% trans %}Go to
                        <a href="https://instagram.com/accounts/manage_access">https://instagram.com/accounts/manage_access</a>
                        and revoke access from "Instasavegram.com" application.
                        {% endtrans %}</li>
                    <li>{% trans with { '%url%': app.request.schemeAndHttpHost } %}Visit <a href="%url%">%url%</a>
                        again and login with your new account.
                        {% endtrans %}</li>
                </ol>
            </details>
            {#<details>#}
            {#<summary class="h4">{% trans %}I am waiting for hours now, where are my photos?{% endtrans %}</summary>#}
            {##}
            {#<p>#}
            {#Sometimes not all export jobs come to a successful end. If you still see the spinning loading icon,#}
            {#please click again on the green button, even if it says 'Please wait...'. This will start a new#}
            {#export job.#}
            {#</p>#}
            {#</details>#}
            <details>
                <summary class="h4">{% trans %}What to do if I found a bug?{% endtrans %}</summary>

                <p>{% trans %}
                    You can create an issue on
                    <a href="https://github.com/naumovs/instasavegram/issues">github</a> or
                    just use a contact form.
                    {% endtrans %}
                </p>
            </details>

        </div>
    </div>
    <div class="content-after">
        <h3>{% trans %}Still have a question? {% endtrans %}</h3>

        <p>
            {% trans with { '%url%': path('contact') } %}
            Send us with a question via the <a href="%url%">contact</a> form.
            {% endtrans %}
        </p>
    </div>
</div>
