<div class="faq has-content clearfix">
    {% include "App:Public:_logo.html.twig" %}

    <div class="content-bg">
        <div class="content-wrap">
            <h1>FREQUENTLY ASKED QUESTIONS</h1>

            <details>
                <summary class="h4">How do I sign-in with a different Account?</summary>
                <p>It is really easy as 2 simple steps to login with a different account:</p>
                <ol>
                    <li>Go to
                        <a href="https://instagram.com/accounts/manage_access">https://instagram.com/accounts/manage_access</a>
                        and revoke access from "Instasavegram.com" application.
                    </li>
                    <li>Visit <a href="{{ app.request.schemeAndHttpHost }}">{{ app.request.schemeAndHttpHost }}</a>
                        again and login with your new account.
                    </li>
                </ol>
            </details>
            <details>
                <summary class="h4">I am waiting for hours now, where are my photos?</summary>

                <p>
                    Sometimes not all export jobs come to a successful end. If you still see the spinning loading icon,
                    please click again on the green button, even if it says 'Please wait...'. This will start a new
                    export job.
                </p>
            </details>

            <details>
                <summary class="h4">What to do if I found a bug?</summary>

                <p>You can create an issue on
                    <a href="https://github.com/naumovs/theid/issues?milestone=&page=1&state=open">github</a>
                    or just use a contact form.
                </p>
            </details>

        </div>
    </div>
    <div class="content-after">
            <h3>Still have a question? </h3>

            <p>Send us with a question via the <a href="{{ path('contact') }}">contact</a> form.</p>
    </div>
</div>
