@import "../variables";

#content {
  min-width: $min-width;
}

.has-content {

  .content-bg {
    background: #cbdfd6;
    margin-bottom: 10px;

    .content-wrap {
      padding: 20px 20px;
      margin: 0 auto;
      max-width: $max-width;
      min-width: $min-width;
    }
  }

  .content-after {
    margin: 0 auto;
    padding: 0 20px;
    max-width: $max-width;
    min-width: $min-width;
  }

}