@import "../variables";

.navigation {

  ul {

    display: block;
    margin: 0 auto;
    max-width: $max-width;
    min-width: $min-width;

    padding: 0;
    list-style: none;
    li {
      float: right;

      a {
        display: block;
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        text-decoration: none;
      }
    }
  }

}