@import "../variables";

.has-social {

  .social-text {
    font-weight: 100;
    clear: both;
    color: $color-brown;
    font-size: 24px;
    margin-bottom: 20px;
    padding-left: 80px;
    padding-top: 45px;
    width: 66%;
    top: 0;

  }

  .social-icons {

    float: right;
    margin-bottom: 20px;
    margin-top: -8px;
    padding-right: 65px;
    text-align: center;

    a {
      margin-left: 9px;
    }

    img {
      transition: opacity 0.2s ease-in-out;

      opacity: 0.4;
      filter: alpha(opacity=40);

      &:hover {
        opacity: 1;
        filter: alpha(opacity=100);
      }
    }

  }

}


//@media (max-width: 800px) {
//  .has-social {
//    .social-text {
//      width: 100%;
//    }
//
//    .social-icons {
//      float: none;
//      padding-right: 0px;
//    }
//  }
//}
