<div class="contact has-content clearfix">
    {% include "@App/Common/_logo.html.twig" %}

    <div class="content-bg">
        <div class="content-wrap">
            <h1>Contact</h1>

            <p>
                Please fill in following form and we will reply to you as soon as possible.
            </p>


        </div>
    </div>
    <div class="content-after">
        {#<div class="col-sm-8 col-sm-offset-2">#}
            <h3>Experiencing an issue?</h3>

            <p>It's better to create an issue on our <a href="https://github.com/naumovs/theid/issues">github</a> page.</p>
        {#</div>#}
    </div>
</div>
