<div class="splash-container clearfix">
    <div class="splash-product row">
        <h1 class="splash-head">The ID</h1>

        <div class="splash-subhead divider-brown-line">
            <span class="splash-line-dot"></span>The Instagram Downloader<span class="splash-line-dot"></span>
        </div>
    </div>
    <div class="splash-get-started row">
        <div class="col-sm-8 col-sm-offset-2">
            <h1>FREQUENTLY ASKED QUESTIONS</h1>


            <h2>How do I sign-in with a different Account?</h2>

            <p>Steps to login with a different account:</p>

            <ol>
                <li>Logout from InstagramDownloader by clicking on the [x] right behind your username</li>
                <li>Go to https://instagram.com/accounts/logout/ to logout from instagram.</li>
                <li>Visit http://instaport.me again and login with your new account.</li>
            </ol>

            <h2>I am waiting for hours now, where are my photos?</h2>

            <p>Sometimes not all export jobs come to a successfull end. If you still see the spinning loading icon, please click again on the green button, even if it says 'Please wait...'. This will start a new export job.</p>
        </div>
    </div>
</div>
