<div class="splash-container clearfix">
    <div class="splash-product row">
        <h1 class="splash-head">The ID</h1>
        <div class="splash-subhead divider-brown-line">
            <span class="splash-line-dot"></span>The Instagram Downloader<span class="splash-line-dot"></span>
        </div>
    </div>
    <div class="splash-get-started row">
        <div class="splash-get-started-text">DOWNLOAD<br>all your photos <i>the way you like</i></div>
        <div class="splash-get-started-btn">
            <div class="splash-get-started-text">
                <a href="https://instagram.com/oauth/authorize/?client_id=de1b375664fb45bf890d46bd8e99cd51&redirect_uri=http://theid/app_dev.php&response_type=token" class="pure-button button-xlarge">Get Started</a>
            </div>
        </div>
        <div class="col-sm-5 col-sm-offset-7 splash-get-started-note">By pressing the "Get Started" you will be ridirected to the official Instagram Login Page and then
            right back to our website. This is done to verify your account and to get acess to the photos</div>

        <div class="col-sm-11 col-sm-offset-1 social-text">
            Tell your friends about us
        </div>
        <div class="col-sm-5 col-sm-offset-2 social-icons">
            <a href="#"><img src="{{ asset('img/twitter1.png') }}" width="50" height="50"></a>
            <a href="#"><img src="{{ asset('img/fb1.png') }}" width="50" height="50"></a>
            <a href="#"><img src="{{ asset('img/pin1.png') }}" width="50" height="50"></a>
            <a href="#"><img src="{{ asset('img/gp1.png') }}" width="50" height="50"></a>
        </div>
    </div>

    <div class="col-sm-10 col-sm-offset-1 home-random-block">
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3 ">
            <a href="#" class="photo"><img src="img/1.jpg" ><span>@egonyan</span></a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <a href="#" class="photo"><img src="img/2.jpg" ><span>@egonyan</span></a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <a href="#" class="photo"><img src="img/3.jpg" ><span>@egonyan</span></a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <a href="#" class="photo"><img src="img/4.jpg" ><span>@egonyan</span></a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <a href="#" class="photo"><img src="img/5.jpg" ><span>@egonyan</span></a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <a href="#" class="photo"><img src="img/6.jpg" ><span>@egonyan</span></a>
        </div>
    </div>
    </div>

</div>
